@use "../styles/abstracts/colors" as colors;
@use "../styles/abstracts/functions" as media;

.card__wrap {
  border-radius: 24px 24px 100px 24px;
  padding-top: 88px;
}

.layout {
  padding: 0 16px;
}

.card__inner {
  border-radius: 24px 24px 100px 24px;
  background: colors.$color3;
  padding: 49px 23px;

  @include media.tablet {
    max-width: 840px;
    margin: auto;
  }
}

.input__list {
  display: flex;
  align-items: start;
  gap: 16px;
  height: 130px;
  position: relative;
}

.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 64px;
  height: 64px;
  background: #854DFF;
  border-radius: 50%;

  @include media.tablet {
    width: 96px;
    height: 96px;
  }

  svg {
    position: absolute;
    width: 28px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include media.tablet {
      width: 44px;
      height: auto;
    }
  }
}

.btn__wrap {
  text-align: center;
  position: relative;
  margin-bottom: 32px;

  @include media.tablet {
    text-align: right;
  }

  &:before {
    content: '';
    top: 50%;
    position: absolute;
    height: 1px;
    left: 0;
    background: #DCDCDC;
    width: 100%;
  }
}